[gerrit]
	basePath = git
	canonicalWebUrl = http://gerrit.jgxlabs.com/
[database]
        type = mysql
        hostname = db.gerrit.jgxlabs.com
        database = reviewdb
        username = gerrit
[auth]
	type = HTTP
[sendemail]
        smtpServer = localhost
        from = ${user} <gerrit@jgxlabs.com>
[container]
        user = gerrit
        javaHome = /usr/lib/jvm/java-7-openjdk-amd64/jre
[sshd]
	listenAddress = *:29418
[httpd]
        listenUrl = proxy-http://*:8080/
[cache]
	directory = cache
[mimetype "image/*"]
        safe = true
