[gerrit]
	basePath = git
	canonicalWebUrl = http://your-website-name/
[database]
        type = mysql
        hostname = your-database-url
        database = reviewdb
        username = gerrit
[auth]
	type = HTTP
[sendemail]
        smtpServer = localhost
        from = ${user} <gerrit@your-domain>
[container]
        user = gerrit
        javaHome = /usr/lib/jvm/java-6-openjdk-amd64/jre
[sshd]
	listenAddress = *:29418
[httpd]
        listenUrl = proxy-http://*:8080/
[cache]
	directory = cache
[mimetype "image/*"]
        safe = true
