[gerrit]
	basePath = git
	canonicalWebUrl = http://chromebox.samok.fr/
[database]
        type = h2
[auth]
	type = HTTP
[sendemail]
        smtpServer = localhost
        from = ${user} florent.bazin1@gmail.com
        smtpServerPort = 25
[container]
        user = gerrit
        javaHome = /usr/lib/jvm/java-8-openjdk-amd64/jre
[sshd]
	listenAddress = *:29418
[httpd]
        listenUrl = proxy-http://*:8080/
[cache]
	directory = cache
[mimetype "image/*"]
        safe = true
